{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Evaluations List
{% endblock title %}

{% block content %}
    <hr class="mt-3 mb-3"/>
    <p style='text-align:center; font-weight: bold'>
        Bienvenido al panel de administracion de Evaluaciones </p>
    <hr class="mt-3 mb-3"/>


    <div class="container">

        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
          Agregar Evaluacion
        </button>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
          Agregar Rubro
        </button>

        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal3">
          Eliminar Rubro
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos de evaluacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                  <form style="display: flex; flex-direction: column" id="evaluationsform" action="{% url 'create_evaluation' %}" method="POST">
                      {% csrf_token %}

                      {{ form }}<br>

                      <input type="submit"  class="btn btn-primary" value="Agregar">
                  </form>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Datos de Rubro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                      <form style="display: flex; flex-direction: column" id="evaluationsform" action="{% url 'create_rubro' %}" method="POST">
                          {% csrf_token %}
                          {{ rubro_form }}
                          <br>

                          <input type="submit"  class="btn btn-primary" value="Agregar">
                      </form>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
        </div>

        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Datos de Rubro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                      <form style="display: flex; flex-direction: column" id="evaluationsform" action="{% url 'delete_rubro' %}" method="POST">
                          {% csrf_token %}

                          {{ rubro_delete_form }}<br>

                          <input type="submit"  class="btn btn-primary" value="Eliminar">
                      </form>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
        </div>

        <hr class="mt-3 mb-3"/>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Rubro</th>
                    <th scope="col">Identificacion</th>
                    <th scope="col">Nombre Estudiante</th>
                    <th scope="col">Apellido Estudiante</th>
                    <th scope="col">Calificacion</th>
                </tr>
            </thead>
            <tbody>
                {% for evaluation in evaluations_list  %}
                    <tr>
                        <td>{{ evaluation.id }}</td>
                        <td>{{ evaluation.rubro.name }}</td>
                        <td>{{ evaluation.student.dni }}</td>
                        <td>{{ evaluation.student.first_name }}</td>
                        <td>{{ evaluation.student.last_name }}</td>
                        <td>{{ evaluation.score }}</td>

                        <td>
                            <ul style="display: flex; list-style: none ">

                                <li style="margin-right: 4%" >
                                    <a href="{% url 'update_evaluation' evaluation.id %}"><button type="button" class="btn btn-info" ><img src="https://i.imgur.com/bwSutQk.png"></button></a>
                                </li>

                                <li >
                                    <form style="display: flex; flex-direction: column" id="delete_form" action="{% url 'delete_evaluation' %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="deleteb" class="btn btn-danger" value="{{ evaluation.id }}"><img src="https://i.imgur.com/8lphSfP.png"></button>
                                    </form>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

